* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    padding: 16px;
    text-align: center;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    display: flex;
    gap: 16px;
    margin: 16px;
}

footer {
    background-color: #079C8D;
    color: white;
    text-align: center;
    padding: 16px;
}

button {
    font-weight: bold;
}

.logo-adalab {
    height: auto;
    width: 118px;
}

h2 {
    color: #53575A;
    font-family: "Posterama 2001 W04 SemiBold";
}

/* Barra de búsqueda */
.searching--bar {
    margin-top: 16px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 25px;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.search-input {
    height: 25px;
    width: 100%;
    border: 1.5px solid #079C8D;
}

.search-button {
    background-color: #079C8D;
    border: none;
    color: white;
    width: 60px;
    height: 25px;
}

/* Carrito */
.shopping--cart {
    width: 30%;
    padding: 16px;
    height: fit-content;
    color: #55595b;
}

.cart-list {
    margin-top: 16px;
}

.cart-item {
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.cart-item img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.cart-button {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
    background-color: #079C8D;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    padding: 0;
} 

.cart-button:hover {
    background-color: #D3451E;
}

.empty-cart-button {
    background-color: #079C8D;
    border: none;
    color: white;
    width: 200px;
    height: 35px;
}

.empty-cart-button:hover {
    background-color: #D3451E;
}

.no-products-alert {
    color: #D3451E;
}

/* Productos */
.products {
    width: 70%;
    padding: 16px;
    color: #55595b;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 16px
}

.product-card {
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    width: 200px;
    font-size: 13px;
}

.product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    margin: 5px;
}

.product-price {
    margin: 5px;
}

.buy-button {
    background-color: #079C8D;
    border: none;
    color: white;
    width: 60px;
    height: 25px;
}

.delete-button {
    background-color: #D3451E;
    border: none;
    color: white;
    width: 60px;
    height: 25px;
}
